* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

*::before,
*::after {
  flex-shrink: 0;
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
  font-style: normal;
  -webkit-tap-highlight-color: transparent;
  &.no-scroll {
    overflow: hidden;
    position: relative;
    touch-action: none;
    -ms-touch-action: none;
  }
}
html {
  margin: 0 !important;
}
body {
  width: 100%;
  position: relative;
  background-color: #fdfdfd;
  font-family: SVN, sans-serif;
}
main {
  overflow-x: hidden;
  scrollbar-width: none;
}
header,
footer,
main {
  width: 100vw;
}
section {
  width: 100%;
  position: relative;
}

a {
  text-decoration: none;
  outline: none;
}
ul,
ol {
  list-style-type: none;
}
input,
textarea,
select,
button,
option {
  outline: none;
  appearance: none;
  -moz-appearance: none;
  border: none;
  background-color: transparent;
  border-radius: 0;
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;
  font-family: SVN, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  user-select: none;
}
:focus {
  outline: none;
}

::selection {
  background: #003459;
  color: #fff;
}
